.navbar-menu {
  background-color: #0f212e !important;
  height: 10vh !important;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;

  &-logo {
    width: 80px;
    margin-left: 3vh;
  }
  
  .item {
    color: #fff !important;
    font-weight: 600 !important;

    &:hover {
      color: #1475e1 !important;
      font-weight: bold !important;
    }
  }

  .right.menu {
    margin-left: 80px !important;
    margin-right: 40px !important;

      .navbar-button {
        background-color: transparent !important;
        color: #ffffff !important;
        transition: all .3s !important;
      }

      .button:hover {
        background-color: #f0f0f0 !important;
        color: #1475e1 !important;
      }
  }
}